.contact-form-container {
    background:#f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font-family: 'Inconsolata', monospace;
  }
  
  .contact-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #6c63ff;
    margin-bottom: 20px;
  }
  
  .form-group-custom {
    margin-bottom: 15px;
  }
  
  .form-label {
    font-size: 14px;
    font-weight: bold;
    color: #6c63ff;
    margin-bottom: 5px;
    display: block;
  }
  
  .form-input {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    transition: border 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  
  .form-input:focus {
    border: 1px solid #6c63ff;
    box-shadow: 0 0 5px rgba(108, 99, 255, 0.5);
  }
  
  .submit-button {
    display: block;
    width: 100%;
    background: #6c63ff;
    color: white;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s ease-in-out, transform 0.2s;
  }
  
  .submit-button:hover {
    background: #5146d9;
    cursor: pointer;
  }
  
  .submit-button:active {
    transform: scale(0.98);
  }

  .close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: #6c63ff;
    cursor: pointer;
  }
  
  .close-button:hover {
    color: #5146d9;
  }
  