.timeline {
  position: relative;
  max-width: 1200px;
  height: 60vh;
  margin: 0 auto;
  padding: 2rem 0;
  font-family: 'Inconsolata', monospace;
  margin-bottom: 15%;
  background-color: #f8f9fa;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #7771e8;
  top: 100px;
  bottom: -100px;
  left: 52%;
  margin-left: -3px;
  
}

.timeline-item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  transform: translateY(50px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  border-radius: 10px; 
  cursor: pointer; 
}

.timeline-item:hover {
  transform: translateY(45px) scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.timeline-item.education {
  left: -20px;
  background-color: #B3ACFF;
  /* transition: opacity 0.6s ease-out, transform 0.6s ease-out; */
}

.timeline-item.work {
  left: 55%;
  background-color: #D9D6FF;
  /* transition: opacity 0.6s ease-out, transform 0.6s ease-out; */
}

.timeline-item .timeline-content {
  padding: 20px 30px;
  position: relative;
  border-radius: 10px; 
  font-family: 'Inconsolata', monospace;
  color: #000;
  font-size: 0.9rem;
}

.timeline-item .timeline-content h3 {
  margin: 0;
  color: #000;
  font-size: 1.2rem; 
}

.timeline-item .timeline-content h4 {
  margin: 0;
  color: #000;
  font-size: 1rem; 
}

.timeline-item .timeline-content time {
  margin: 0;
  color: #000;
  font-size: 0.9rem; 
}

.timeline-item.work .timeline-content::before {
  content: '';
  position: absolute;
  top: 22px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-right: 0;
  border-top: 0;
  right: 30px;
  margin-top: -15px;
  content: "<..>";
  position: absolute;
  top: 30%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: rgba(0, 0, 0, 0.1); 
  z-index: -1;
  font-size: 0.8rem; 
}

.timeline-item.education .timeline-content::before {
  content: '';
  position: absolute;
  top: 22px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-left: 0;
  border-top: 0;
  left: 30px;
  margin-top: -15px;
  content: "<..>";
  position: absolute;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
  font-size: 200px;
  color: rgba(0, 0, 0, 0.1); 
  z-index: -1;
  font-size: 0.8rem; 
}

.css-xyz-in {
  opacity: 1 !important;
  transform: translateY(0) !important;
}



@media (max-width: 365px) {
  .timeline-item {
    height: 100vh; 
    padding-top: 100px 500px; 
  }

  .timeline-item .timeline-content {
    font-size: 0.7rem; 
    padding: 8px; 
  }

  .timeline-item .timeline-content h3 {
    font-size: 0.8rem; 
  }

  .timeline-item .timeline-content h4 {
    font-size: 0.7rem; 
  }

  .timeline-item .timeline-content time {
    font-size: 0.6rem; 
  }
}

@media (min-width: 366px) and (max-width: 767px) {
  .timeline{
    height: 80vh;
    padding: 0;
  }
  .timeline::after {
    left: 20px;
    margin-top: 0px;
    /* margin-bottom: 100px; */
    top: 50px;
    bottom: 40px;
  }

  /* .timeline-item {
    margin-top: 30px;
    width: 80%;
    padding: 5px 20px;
    margin-bottom: 30px;
  } */
  .timeline-item {
    height: 25vh; 
    width: 80%;
    left: 40px !important;
    margin-top: 30px;
    padding-top: 10px;
    bottom: 10px;
  }

  .timeline-item .timeline-content {
    font-size: 0.8rem;
    padding-left: 10px;
  }

  .timeline-item .timeline-content h3 {
    font-size: 1rem;
  }

  .timeline-item .timeline-content h4 {
    font-size: 0.9rem;
  }

  .timeline-item .timeline-content time {
    font-size: 0.7rem;
  }

  .timeline-item.work .timeline-content::before,
  .timeline-item.education .timeline-content::before {
    display: none; 
  }
}


@media (min-width: 768px) and (max-width: 1200px) {
  .timeline{
    height: 80vh;
  }

  .timeline::after {
    left: 20px;
  }

  .timeline-item {
    height: 25vh; 
    width: 80%;
    left: 40px !important;
    margin-top: 30px;
    padding-top: 50px;
  }

  .timeline-item .timeline-content {
    font-size: 0.8rem;
  }

  .timeline-item .timeline-content h3 {
    font-size: 1rem;
  }

  .timeline-item .timeline-content h4 {
    font-size: 0.9rem;
  }

  .timeline-item .timeline-content time {
    font-size: 0.8rem;
  }

  .timeline-item.work .timeline-content::before,
  .timeline-item.education .timeline-content::before {
    display: none; 
  }
}